<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--<add name="Palmap" connectionString ="Server = 10.0.10.162; User Id = sde; Password = sde; Database = palmap;"/>-->
    <add name="Palmap" connectionString ="Server = 47.101.133.87; User Id = sde; Password = sde; Database = palmap;"/>
    <add name="Tencent" connectionString ="Server = 10.0.10.162; User Id = sde; Password = sde; Database = tencent;"/>
    <!--<add name="Huawei" connectionString ="Server = 10.0.10.162; User Id = sde; Password = sde; Database = huawei;"/>-->
    <!--<add name="Huawei" connectionString ="Server = 10.0.25.18; User Id = postgres; Password = postgresql; Database = huawei;"/>-->

    <add name="Huawei" connectionString ="Server = 47.101.133.87; User Id = postgres; Password = postgresql; Database = huawei;"/>
    <add name="PostGIS" connectionString ="Server = 10.0.10.162; User Id = sde; Password = sde; Database = postgis_23_sample;
         "/>
  </connectionStrings>
  <appSettings>
    <add key="Version" value="2018/12/18"/>
  </appSettings>
</configuration>
